.watch {
    display: grid;
    justify-content: center;
    align-content: start;

    .video-container {
        --max-width: 80ch;
        width: min(80vw, var(--max-width));
        height: calc((9 / 16 * min(80vw, var(--max-width))));
        position: relative;
        display: grid;

        .error {
            background-color: black;
            display: grid;
            place-content: center;
            justify-items: center;
            gap: 1rem;

            svg {
                fill: white;
                height: calc(2rem + 2vw);
            }

            p {
                font-size: 0.875rem;
            }
        }
    }
}