@use '../../app/keyframes' as *;

.unauthorized-page {
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 2rem;

    h1 {
        text-align: center;
        font-variation-settings: 'wght' 900;
        color: var(--light);
    }

    img {
        aspect-ratio: 1 / 1;
        width: 300px;
    }

    svg {
        width: 400px;
    }

    div {
        display: flex;
        width: 100%;
        gap: 2rem;
        justify-content: space-evenly;

        a,
        button {
            all: unset;
            flex-basis: 10ch;
            flex-grow: 0;
            text-align: center;
            cursor: pointer;
            padding: 0.75rem 1rem;
            border-radius: 0.75rem;
            background-color: rgb(48, 48, 48);
            color: var(--light);
            font-variation-settings: 'wght' 600;

        }
    }
}

.not-found-page {
    display: grid;
    gap: 1rem;
    place-content: center;
    text-align: center;

    h1:first-of-type {
        font-size: 10rem;
        font-weight: 900;
    }
}

.no-internet-page {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 1.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;

    svg {
        height: 5rem;
        width: 5rem;
    }
}


.loading-page {
    display: grid;
    place-content: center;

    svg {
        height: 12rem;
        width: 12rem;
        animation: rotate 1s ease-in-out infinite;
    }
}