@use '../../app/_keyframes.scss' as *;

.home-page {
    height: 100%;
    width: 100%;
    display: grid;
    align-content: start;
    gap: 2rem;
    grid-template-columns: 1fr;
}

.react-logo {
    margin-inline: auto;
    animation: rotate 30s linear alternate forwards infinite;
}