@use '../../app/keyframes' as *;

@media (hover) {

    .card:hover {
        // --height: 16rem;
        // height: var(--height);
        // width: calc(4/3 * var(--height));
        position: relative;
        z-index: 10;
        transform: scale(1.2);
        filter: drop-shadow(0 0 0.5rem black);

        .title {
            // white-space: unset;
            // animation: showlines 0.4s 1 forwards;
        }

        .release-date {
            // animation: showlines 0.4s 1 forwards;

        }
    }
}

.card {
    --height: 14rem;
    height: var(--height);
    width: calc(3 / 4 * var(--height));
    scroll-snap-align: start;
    position: relative;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;

    & > div:first-child {
        position: absolute;
        background-image:
            linear-gradient(0deg, hsl(0, 0%, 5%) 10% 25%, transparent 85%);
        inset: 0;
        display: grid;
        align-content: end;
        border-radius: 1rem;
    }

    .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.25em 0.5em;
        color: var(--coral-100);
        font-weight: 600;

    }

    .release-date {
        color: grey;
        font-size: 0.75em;
        margin-left: 1em;
        padding: 0.25em 0.5em;
        margin-bottom: 0.25em;
        font-weight: 600;
    }

    img {
        object-fit: cover;
        width: 100%;
        border-radius: 1rem;
    }
}

.heart {
    height: 2em;
    width: 2em;
    margin: 0.75em;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.2s;

    .card-data:hover > & {
        opacity: 1;
    }

    svg {
        stroke: var(--coral-100);
        fill: var(--coral-100);
    }
}