@use '../../app/keyframes' as *;

@media (hover) {

    .card:hover {
        --height: 16rem;
        height: var(--height);
        width: calc(4/3 * var(--height));

        .title {
            white-space: unset;
            // animation: showlines 0.4s 1 forwards;
        }

        .release-date {
            // animation: showlines 0.4s 1 forwards;

        }
    }
}

.card {
    --height: 14rem;
    height: var(--height);
    width: calc(3/4 * var(--height));
    overflow: hidden;
    scroll-snap-align: start;
    position: relative;
    transition: all 200ms;
    display: flex;
    justify-content: center;

    .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.25em 0.5em;
        color: var(--coral-100);
        font-weight: 600;

    }

    .release-date {
        color: grey;
        font-size: 0.75em;
        margin-left: 1em;
        padding: 0.25em 0.5em;
        margin-bottom: 0.25em;
        font-weight: 600;
    }

    img {
        object-fit: cover;
        width: 100%;
        border-radius: 1rem;
    }
}

.heart {
    height: 2em;
    width: 2em;
    margin: 0.75em;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.2s;

    .card-data:hover > & {
        opacity: 1;
    }

    svg {
        stroke: var(--coral-100);
        fill: var(--coral-100);
    }
}