* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mona Sans';
}


html {
	--success-clr: #08a108;
	--error-clr: red;
	--warning-clr: #ff4800;
	--grey-100: #bfbfbf;
	--grey-200: #808080;
	--grey-300: #242424;
	--coral-100: #e31c4e;
	--coral-200: hsl(345, 49%, 35%);
	--dark: #0a0d12;
	--light: #ffffff;

	-webkit-tap-highlight-color: transparent;

	::-webkit-scrollbar {
		background-color: rgba(128, 128, 128, 0.25);
		width: 0.125rem;
		height: 0.125rem;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--coral-200);
		border-radius: 1.5rem;
	}

	a {
		text-decoration: none;
		color: inherit;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	button {
		border: none;
		outline: none;
		cursor: pointer;
	}

	input {
		border: none;
		outline: none;
	}

	svg {
		vertical-align: bottom;
	}
}

#root {
	color: var(--light);
	overflow: hidden auto;
	scroll-behavior: smooth;
	display: grid;
	grid-template: 1fr / 1fr;
	padding: 1rem;
	height: var(--vh, 100vh);
	width: var(--vw, 100vw);
	background-color: var(--dark);
}

.toast {
	font-weight: 600;
	border-radius: 0.5rem !important;
	color: var(--light);
	background-color: var(--coral-200);
	border: 1px solid var(--light);

	svg {
		fill: var(--light);
	}

	&.success {
		border-color: var(--success-clr);
	}

	&.error {
		border-color: var(--error-clr);
	}

	&.warning {
		border-color: var(--warning-clr);
	}

}



@font-face {
	font-family: 'Mona Sans';
	src: url('/mona-sans.woff2') format('woff2');
	font-display: 'swap';
}

@media screen and (prefers-reduced-motion: reduce) {

	*,
	::before,
	::after {
		transition: none !important;
		animation: none !important;
	}
}