.toggle-switch {
    --height: 2rem;
    --width: 4rem;
    --bg-unchecked-clr: var(--grey-300);
    --bg-checked-clr: var(--coral-100);
    --slider-clr: var(--light);
    --gap: 3px;

    appearance: none;
    cursor: pointer;
    position: relative;
    height: var(--height);
    width: var(--width);
    border-radius: var(--height);
    background-color: var(--bg-unchecked-clr);
    transition: background-color 100ms linear;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(var(--gap), -50%);
        height: calc(var(--height) - 2 * var(--gap));
        width: calc(var(--height) - 2 * var(--gap));
        border-radius: 50%;
        background-color: var(--slider-clr);
        transition: transform 100ms linear;

    }

    &:checked {
        background-color: var(--bg-checked-clr);

        &::before {
            transform: translate(calc(var(--width) - var(--height) + var(--gap)), -50%);
        }
    }

}