.anime-page {
    display: grid;
    gap: 2rem;
    align-content: start;
}

.anime-info {
    display: grid;
    gap: 1.5rem;
    grid-template: auto / auto 1fr;

    & > div:first-child {
        --height: 14rem;
        height: var(--height);
        width: calc(3 / 4 * var(--height));

        img,
        span {
            border-radius: 1rem;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    & > div:nth-child(2) {
        display: grid;
        align-content: baseline;
        gap: 0.75rem;

        h1 {
            font-size: 1.75rem;
            word-break: break-all;

            span {
                width: min(16ch, 100%);
            }
        }

        h4 {
            span {
                height: 1.5rem;
                display: inline-block;
            }
        }
    }

    .genres {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;

        span {
            color: var(--light);
            background-color: var(--coral-100);
            padding: 0.5em;
            border-radius: 0.25em;
            font-size: 0.75rem;
            font-weight: 600;
        }
    }
}

.description {
    color: var(--grey-100);
    line-height: 1.375rem;

    span {
        margin-bottom: 0.375rem;
    }

}


.watch-list-btn {
    background-color: var(--coral-100);
    margin: 0.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    display: grid;
    grid-template: auto / 2em auto;
    align-items: center;
    gap: 0.75em;
    height: 2.5rem;

}

.episodes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    a {
        display: grid;
        gap: 1.25rem;
        grid-template: 1fr / auto 1fr auto;
        justify-items: center;
        border: 2px solid var(--light);
        color: var(--light);
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        transition: all 200ms linear;
        width: min(45ch, 100%);
        text-overflow: ellipsis;

        span {
            font-weight: 800;

        }

        h4 {
            font-weight: 600;
            margin-right: auto;
        }

        svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: var(--light);
        }

        &:is(:focus, :hover) {
            outline: none;
            color: var(--dark);
            background-color: var(--light);
            transform: scale(102.5%);

            svg {
                fill: var(--dark);
            }
        }
    }

    &.short {
        flex-direction: row;
        flex-wrap: wrap;

        a {
            display: flex;
            height: 2.5rem;
            width: 6ch;

            span {
                font-size: 1rem;
            }

            h4,
            svg {
                display: none;
            }
        }



        a:is(:focus, :hover) {
            span {
                display: none;
            }

            svg {
                display: initial;
                margin-inline: auto;
            }
        }
    }
}


.error {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 1rem;

    svg {
        fill: var(--light);
        height: calc(2rem + 2vw);
    }

    p {
        font-size: 0.875rem;
    }
}