.me-page {
    display: grid;
    justify-content: center;
    align-content: start;
    gap: 1rem;
    color: var(--light);
    grid-template: auto / 1fr;

    & > div:first-of-type {
        display: grid;
        place-content: start;
        gap: 1rem;

        .pfp-container {
            display: flex;
            gap: 2rem;
            align-items: center;
        }

        .profile-picture {
            position: relative;
            height: fit-content;
            width: fit-content;
            display: flex;

            & > :is(img, svg) {
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }

            & > svg {
                padding: 0.25rem;
            }

            & > img {
                object-fit: cover;
            }

            input[type=file] {
                display: none;
            }

            label {
                position: absolute;
                height: 2rem;
                width: 2rem;
                padding: 0.375rem;
                bottom: 0;
                right: 0;
                background-color: var(--coral-100);
                transform: translate(-0.25rem, -0.25rem);
                border-radius: 50%;
                z-index: 5;
                cursor: pointer;

                svg {
                    height: 100%;
                    width: 100%;
                    fill: var(--light);
                }
            }

            .uploading {
                height: 100%;
                width: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);
                display: grid;
                place-content: center;
                border-radius: 50%;
                top: 0;

                svg {
                    fill: var(--light);
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }

        .delete-pfp {
            padding: 0.5rem;
            border-radius: 0.5rem;
            font-weight: 600;
            color: var(--light);
            background-color: var(--error-clr);
            width: 8ch;
            display: grid;
            place-content: center;

            svg {
                height: 1rem;
                width: 1rem;
                fill: var(--light);
            }
        }

        .username {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .email {}

        .joined-date {
            font-size: 0.75rem;
            color: var(--grey-200);
        }
    }
}