.nav-bar {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: min-content auto min-content;
    gap: 1rem;

    .logo {
        height: 2.25rem;
    }
}