.breadcrumbs {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    color: var(--grey-100);

    li {
        display: flex;
        align-items: center;

        a {
            font-size: 0.875rem;
            font-weight: 500;
        }
    }

    a:is(:focus, :hover) {
        color: var(--light);
    }

    li:last-of-type {
        a {
            color: var(--light);
            pointer-events: none;
        }
    }

    svg {
        --size: 1rem;
        height: var(--size);
        width: var(--size);
        fill: white;
        margin-inline: 0.375rem;
    }

    .home-icon {
        height: 1.25rem;
        width: 1.25rem;
        margin-inline: 0;
        margin-top: -0.125rem;
    }
}