.admin-page {
    display: grid;
    place-content: center;
    color: var(--light);
}

table {
    border-radius: 1rem;
    border: 1px solid var(--light);
    overflow: hidden;
    background-color: var(--light);

    td {
        background-color: black;
        padding: 0.5rem;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}