.admin-page {
    display: grid;
    place-content: center;
    gap: 1rem;
    color: var(--light);

    & > div:first-child {
        display: flex;
        justify-content: space-between;
    }

}

table {
    border-radius: 1rem;
    border: 1px solid var(--light);
    background-color: var(--light);

    td {
        background-color: black;
        padding: 0.5rem;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}