.admin-page {
    display: grid;
    align-content: start;
    gap: 1.5rem;
    color: var(--light);
    grid-template-columns: 1fr;

    & > div {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

}

table {
    border-radius: 1rem;
    border: 1px solid var(--light);
    background-color: var(--light);

    td {
        background-color: black;
        padding: 0.5rem;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}